extends layout
block content
	include nav.pug
	script.		
		function delUser(name){
			$.ajax({
				type: "DELETE",
				url: "/all-users/" + name,
				success: function (result) {
					alert(result);
				}
			})			
		}		
	main.container
		h2 List all current users
		ul.list-group
			each user in users
				// note for equal sign
				li.list-group-item= user.name
					span.pull-right
						span.badge Normal user
						span.button.glyphicon.glyphicon-trash(onclick="delUser(" + user.name + ")")
