extends layout
block content
	include nav.pug
	main.container
		h2 List all current users
		ul.list-group
			each user in users
				// note for equal sign
				li.list-group-item= user.name
					span.badge Normal user
