extends layout
block content
	include nav.pug
	//- script.
	//- 	function delUser(userName) {
	//- 	console.log(12)
	//- 	let r = confirm("Delete user: " + userName)
	//- 	if (r == true) 
	//- 		document.location.href = "/all-users/" + userName;
	//- 	}

	main.container
		h2 List all current users
		ul.list-group
			each user in users
				// note for equal sign
				li.list-group-item= user.name
					span.pull-right
						span.badge Normal user
						span.button.glyphicon.glyphicon-trash(onclick="location.href='/all-users/" + user.name + "'", method = "DELETE")
						//- onclick="location.href='http://www.example.com'"
						//- span.button.glyphicon.glyphicon-trash(onclick="delUser(" + user.name + ")")
						//- (onclick="alert('Delete user: " + user.name + "')")