extends layout
block content
	include nav.pug
	.container
		form.form-signin
			h2.form-signin-heading Please sign in
			input.input-block-level(type='text', placeholder='Email address')
			input.input-block-level(type='password', placeholder='Password')
			br
			button.btn.btn-large.btn-primary(type='submit') Sign in
