.navbar.navbar-inverse.navbar-fixed-top
          .container
           .navbar-header
            a.navbar-brand(href="#") DemoNodeJs
            ul.nav.navbar-nav
             li.active: a( href="/person") Home
             li: a( href="/accout-mgnt" ) Account management
             li: a( href="#about" ) About